body {
    background-color: #003640;
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.menu {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu a {
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu a:hover {
    color: #f1f1f1;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    color: #818181;
    cursor: pointer;
}
